<!DOCTYPE html>
<html>
    <head>
        <title>Edit</title>
        <!-- 引入Element UI样式 -->
        <link rel="stylesheet" href="/tools/element-ui@2-13-2-index.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/edit/select.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <div id="app">
            <div id="header">
                <el-row>
                    <el-col id="adaptive-header" :span="16" :offset="4">
                        <img id="logo" src="/img/logo.png"/>
                        <el-menu id="header-menu" :default-active="activeIndex" mode="horizontal" @select="handleSelect">
                            <el-menu-item index="/">首页</el-menu-item>
                            <el-menu-item index="/edit">自动剪辑</el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
            </div>
            <div id="main">
                <el-row>
                    <el-col :span="16" :offset="4">
                        <el-row>
                            <el-col :span="11">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                                    <el-image src="/img/1.jpg" fit="cover"></el-image>
                                    <div class="card-box">
                                        <!-- <div class="title">服装类广告 · 视频素材</div> -->
                                        <div class="title">视频素材</div>
                                        <!-- <div class="sub">服装类广告的简介</div> -->
                                        <div class="sub">简介</div>
                                        <el-button type="primary" @click="jump('video-cloth-ads/upload')">开始剪辑</el-button>
                                        <el-button>详细信息</el-button>
                                    </div>
                                </el-card>
                            </el-col>
                            <el-col :span="11" :offset="2">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                                    <el-image src="/img/2.jpg" fit="cover"></el-image>
                                    <div class="card-box">
                                        <!-- <div class="title">服装类广告 · 照片素材</div> -->
                                        <div class="title">照片素材</div>
                                        <!-- <div class="sub">服装类广告的简介</div> -->
                                        <div class="sub">简介</div>
                                        <el-button type="primary">开始剪辑</el-button>
                                        <el-button>详细信息</el-button>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
            </div>
        </div>
    </body>
    <!-- 引入Vue库 -->
    <script src="/tools/vue@2-6-11.js"></script>
    <script src="/tools/axios@0-19-2.js"></script> 
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- 引入Element UI组件库 -->
    <script src="/tools/element-ui@2-13-2-index.js"></script>
    <!-- 引入页面脚本 -->
    <script src="/js/edit/select.js"></script>
</html>